*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif;
}
body{
    height:100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter{
    background: #ffffff;
    padding:30px 40px;
    border-radius: 16px;
    width:350px;
    text-align:  center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}
.counts h2{
    font-size: 26px;
    color:#333;
    margin-bottom: 15px;
}
#content{
    font-size: 64px;
    color:#764ba2;
    margin-bottom: 25px;
}
.btn{
    display: flex;
    gap:12px;
    justify-content: center;
}
button{
    padding: 10px 18px;
    font-size: 15px;
    border:none;
    border-radius: 8px;
    text-transform:uppercase;
    color:black;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    transform: translateY(-2px);
    opacity: 0.9;
}
:active{
    transform: scal=e(0.96);
}
#inc{
    background: #28a745;
}
#dec{
    background: #dc3545;
}
#reset{
    background: #007bff;
}